*{
box-sizing:border-box;
}

body{
font-family: Arial, Helvetica, sans-serif;
background:#f4f6f9;
margin:0;
}

.container{
max-width:1100px;
margin:auto;
padding:40px;
}

h1{
color:#5b2c83;
margin-bottom:20px;
}

button{
background:#5b2c83;
border:none;
color:white;
padding:10px 18px;
border-radius:6px;
cursor:pointer;
transition:0.2s;
}

button:hover{
background:#4a236b;
}

input, textarea{
width:100%;
padding:8px;
margin-top:5px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:4px;
}

.card{
background:white;
padding:25px;
border-radius:8px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
margin-bottom:20px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
padding:10px;
border-bottom:1px solid #ddd;
text-align:left;
}

th{
background:#f3edf8;
}

.sidebar{
width:230px;
background:#5b2c83;
position:fixed;
height:100%;
padding-top:20px;
}

.sidebar a{
display:block;
color:white;
padding:12px 20px;
text-decoration:none;
font-weight:500;
}

.sidebar a:hover{
background:#4a236b;
}

.content{
margin-left:240px;
padding:30px;
}

/* contenedor del logo */

.logo-container{
background:white;
margin:10px 20px 25px 20px;
padding:10px;
border-radius:8px;
text-align:center;
}

/* logo */

.logo-container img{
width:140px;
}

/* Usuario sidebar */

.usuario{
color:white;
text-align:center;
font-size:14px;
margin-bottom:20px;
}