<!DOCTYPE html>
<html>
<head>

<title>Grupo Fidelis - Circularizaciones</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="sidebar">

<h2 style="color:white;padding-left:20px;">Fidelis</h2>

    {% if request.session.user %}
<p style="color:white;padding-left:20px;font-size:14px;">
Usuario: {{ request.session.user }}
</p>
{% endif %}

<a href="/">Nueva circularización</a>
<a href="/dashboard">Estadísticas</a>
<a href="/historial">Historial</a>
<a href="/errores">Errores</a>
{% if request.session.role == "admin" %}
<a href="/admin">Administración</a>
{% endif %}
<a href="/logout">Cerrar sesión</a>

</div>

<div class="content">

<div class="container">

{% block content %}{% endblock %}

</div>

</div>

</body>
</html>