{% extends "base.html" %}

{% block content %}

<h1>Circularización en progreso</h1>

<div id="progresoContainer">

<p id="contador">Preparando envío...</p>

<div style="width:400px;border:1px solid black;height:30px">

    <div id="barra"
         style="height:30px;width:0%;background-color:green">
    </div>

</div>

</div>

<div id="finalizado" style="display:none; text-align:center;">

<h2>✅ Circularización enviada con éxito</h2>

<br>

<a href="/">Volver al inicio</a>

</div>

<script>

function actualizarProgreso(){

    fetch("/progreso")
    .then(res => res.json())
    .then(data => {

        let total = data.total
        let enviados = data.enviados

        if(total === 0){
            return
        }

        let porcentaje = (enviados / total) * 100

        document.getElementById("barra").style.width = porcentaje + "%"

        document.getElementById("contador").innerText =
            enviados + " / " + total + " correos enviados"

        if(enviados >= total){

            document.getElementById("progresoContainer").style.display = "none"

            document.getElementById("finalizado").style.display = "block"

        }

    })

}

setInterval(actualizarProgreso, 1000)

</script>

{% endblock %}